!!! 1.1
%html{html_attrs}
  %head
    %title= header_text
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    = stylesheet_link_tag "screen"
    = javascript_include_tag :defaults
    
  %body
    %div#wrapper
      %div#header
        %h1 infernalhosting
        = navigation_list
      %div#content
        = flash_notice
        = yield

      = footer
